<!DOCTYPE html>
<html>
    <head/>
        <style>
            div {
                text-align: center;
            }
            
            .text {
                font-family: arial;
            }
                        
            .nascar {
                height: 50px;
            }
            
            .fine {
                font-size: 12px;
            }
            
            #box {
                width: 650px;
                max-width: 650px;
                height: 100px;
            }
        </style>
    <body style="background-color: gainsboro">
        <div style="margin-top: 10px"><img src="../static/mech-jung-logo-large.png"/><div/>
            
        <div class="text" style="margin-top: -5px">Mechanical Jung, the online personality predictor</div>
        <div class="text fine" style="margin-bottom: 20px">(65% of the time, it works every time.)</div>

        <div style="margin-bottom: 70px">
            <textarea class="text quote" id="box" form="form" name="text" placeholder="Enter any piece of text"></textarea>
            
            <form class="text" id="form" action="results" method="post">
                <input type="submit" value="Analyze my text"/>
            </form>            

            <div class="text fine" style="margin-bottom: 30px">or...</div>

            <img style="height: 32px" src="../static/twitter-logo-small.png"/>

            <form class="text" action="twitter-results" method="post">
                <div type="text">
                    @<input type="text" name="handle" placeholder="Enter twitter handle"/>

                    <input type="submit" value="Get dem tweets!"/>
                </div>
            </form>

        </div>

        <div class="text" style="margin-bottom: 5px"><i>We stand on the shoulders of giants.</i></div>
            
        <div>
            <a href="http://aws.amazon.com"><img class="nascar" src="../static/aws-logo.png"/></a>
            <a href="http://celebritytypes.com"><img class="nascar" src="../static/celebtypes-logo.png"/></a>
            <a href="http://thewebminer.com"><img class="nascar" src="../static/webminer-logo-twitter.jpeg"/></a>
<!--            <a href="http://twitter.com"><img class="nascar" src="../static/twitter-logo.png"/></a>-->
            <a href="http://scikit-learn.org"><img class="nascar" src="../static/scikit-learn-logo-small.png"/></a>
            <a href="http://flask.pocoo.org"><img class="nascar" src="../static/flask-logo.png"/></a>
            <a href="http://tweepy.org"/><img class="nascar" style="background-color: darkblue" src="../static/tweepy-logo.png"></a>
            <a href="http://en.wikipedia.org/wiki/Carl_Jung"/><img class="nascar" src="../static/carl-jung.png"></a>
        </div>
        
        <div class="text fine">Hosted on AWS Elastic Beanstalk</div>
        <div class="text fine">Data courtesy CelebrityTypes, TheWebMiner, and Twitter</div>
        <div class="text fine">Powered by Python: scikit-learn, Flask, and Tweepy</div>
        <div class="text fine"><a href="http://gifmaker.cc/PlayFrameAnimation.php?folder=2014120317KtxihQCt3O4zM3uyUuA50C&music=https://www.youtube.com/watch?v=E1nbvplgElw&start=105">Forever Jung</a></div>
    </body>
</html>
