<!DOCTYPE html>
<html>
    <head/>
        <style>
            div {
                text-align: center;
            }
            
            .text {
                font-family: arial;
            }
                        
            .nascar {
                height: 50px;
            }
            
            .fine {
                font-size: 12px;
            }
            
            #box {
                width: 650px;
                max-width: 650px;
                height: 100px;
            }
        </style>
    <body>
        <div style="margin-top: 10px"><img src="../static/mech-jung-logo-large.png"/><div/>
            
        <div class="text" style="margin-top: -5px; margin-bottom: 20px">Mechanical Jung, the online personality predictor</div>

        <div style="margin-bottom: 100px">
        
            <textarea class="text" id="box" form="form" name="text"></textarea>
            
            <form class="text" id="form" action="results" method="post">
                <input type="submit" value="Psycho-analyze me, cap'n!"/>
            </form>            
        </div>

        <div class="text" style="padding-bottom: 5px"><i>We stand upon the shoulders of giants.</i></div>
            
        <div>
            <a href="http://aws.amazon.com"><img class="nascar" src="../static/aws-logo.png"/></a>
            <a href="http://celebritytypes.com"><img class="nascar" src="../static/celebtypes-logo.png"/></a>
            <a href="http://thewebminer.com"><img class="nascar" src="../static/webminer-logo-twitter.jpeg"/></a>
            <a href="http://twitter.com"><img class="nascar" src="../static/twitter-logo.png"/></a>
            <a href="http://scikit-learn.org"><img class="nascar" src="../static/scikit-learn-logo-small.png"/></a>
            <a href="http://flask.pocoo.org"><img class="nascar" src="../static/flask-logo.png"/></a>
            <a href="http://tweepy.org"/><img class="nascar" style="background-color: darkblue" src="../static/tweepy-logo.png"></a>
        </div>
        
        <div class="text fine">Hosted on AWS Elastic Beanstalk</div>
        
        <div class="text fine">Data courtesy CelebrityTypes, TheWebMiner, and Twitter</div>
        
        <div class="text fine">Powered by Python: scikit-learn, Flask, and Tweepy</div>
    </body>
</html>
